.code-block:hover,
.code-block:focus {
    visibility: visible;
}

.code-block::-webkit-scrollbar {
    height: 1em;
}
   
.code-block::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(255, 121, 198);
}
   
.code-block::-webkit-scrollbar-thumb {
    background-color: rgb(255, 121, 198);
}

.code-block {
    margin: 0;
    padding: 20px;
    overflow: auto;
    line-height: 1.5em;
    visibility: hidden;
}

.code-line {
    visibility: visible;
}