@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

body {
    background-color: #201020ff;
    color: #c0b0a0ff
}

blockquote {
    background-color: rgb(65, 25, 65);
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    padding-block-start: 0.5em;
    padding-block-end: 0.5em;
}

code {
    font-family: 'Fira Code', monospace;
    background-color: #e7a931ff;
    color: #201020ff;
    padding-inline-start: 0.3em;
    padding-inline-end: 0.3em;
    border-radius: 10px;
}

.container {
    margin: auto;
    max-width: 800px;
    font-family: 'Fira Code', sans-serif;
    line-height: 2em;
}

.heading {
    color: #689e6aff;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    height: 2em;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: #e7a931ff;
}

a {
    color: #e7a931ff;
}

.site-title > svg {
    width: 100%;
    font-family: sans-serif;
}

.site-title > svg > text {
    fill: #689e6aff;
    font-weight: 700;
}

@media (orientation: landscape) {
    .nav-link-image {
      display: none!important;
    }
  }
  
  @media (orientation: portrait) {
    .nav-links {
        height: 50px;
    }
    .nav-link-text {
      display: none;
    }
    .nav-link-item {
        width: 50px;
    }
    .nav-link-image {
        filter: invert(57%) sepia(23%) saturate(592%) hue-rotate(72deg) brightness(94%) contrast(92%);
    }
  }